/* site no tablet*/

@media (min-width: 460px) and (max-width: 860px){
  .container{
    min-width: 600px;
    justify-content: center;
    align-items: center;
    margin: auto;
  
  }
    /*sessao banner*/
    main{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    
    }
    .banner{
      width: 100%;
      height: 500px;
      /*background-image: url("../img/Beleza-no-olhar.png");*/
      background-repeat: no-repeat;
      background-color: #C4C4C4;
      display: block;  
    }
    .banner-foto{
      background-image: url("../img/Beleza-no-olhar.png");
      background-size: cover;
    }.banner-foto-1{
      background-image: url("../img/slide1.webp");
      background-size: cover;
    }.banner-foto-2{
      background-image: url("../img/slide2.webp");
      background-size: cover;
    }.banner-foto-3{
      background-image: url("../img/slide3.webp");
      background-size: cover;
    }.banner-foto-4{
      background-image: url("../img/slide4.webp");
      background-size: cover;
    }
    
    .banner-div{
      width: 100%;
      height:100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    .banner-title{
      width: 40%;
      height: 100px;
      font-family: 'Playfair Display';
      font-style: normal;
      font-weight: 600;
      font-size: 3rem;
      line-height: 40px;
      letter-spacing: 0.05em;
      font-feature-settings: 'ordn' on, 'liga' off;
      color: var(--base-color);
    }
    .banner-text{
      width: 60%;
      height: 104.41px;
  
      font-family: 'Inter';
      font-style: normal;
      font-weight: 300;
      font-size: 3rem;
      line-height: 50px;
      color: var(--base-color);
    }
  
      /* Sessao Storia */
    .storia{
      max-width: 100%;
      max-height: 1280px;
      margin: 0;  
      display: flex;
      flex-direction: column;
      justify-content:center;
    }
    .storia-img{
      max-width: 50%;           
    }.storia-img img{
      margin: 20px auto ;
      width: 100%;
      border-radius: 12px; 
    }
    .storia-text{
      width: 80%;
      height: 60%;
      display: flex;
      align-items: center;
      color: var(--letter-color);
      font-family: 'Inter';
      font-style: normal;
    }
    .storia-text h1{
      font-family: 'Playfair Display';
      font-style: normal;
      font-weight: 900;
      font-size: 56px;
      line-height: 73px;
      font-feature-settings: 'liga' off;
    }
    .storia-text p{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 40px;
      color: #333333;
      font-feature-settings: 'liga' off;
    }
  
      /* sessao ottica */
    .ottica{
      max-width: 100%;
      max-height: 3500px;
      background-color: var(--letter-color);
      display: flex;
      flex-direction: column;
      justify-content: center;    
    }
    .ottica-container{
      width: 100%;
      height: 70%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }.ottica-img{
      width: 50%;
      height: 80%;
    }.ottica-img img{
      width: 100%;
      height: 100%;
      margin: auto;
      border-radius: 12px;
    }.ottica-text{
      width: 40%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }.ottica-text h5{
      width: 100%;
      height: 16px; 
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-feature-settings: 'liga' off;
      color: #E8EBE4;
    }.ottica-text h1{
      max-width: 100%;
      height: 60px; 
      font-family: 'Playfair Display';
      font-style: normal;
      font-weight: 800;
      font-size: 45px;
      line-height: 50px;
      font-feature-settings: 'liga' off;
      color: #EFF1ED;
    }.ottica-text p{
      max-width: 100%;
      height: 600px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 40px;
      font-feature-settings: 'liga' off;
      color: #E8EBE4;
      word-wrap: break-word;
    }
    .brand{
      max-width: 100%;
      height: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }.brand-text h3{
      width: 100%;
      height: 20%;
      font-family: 'Playfair Display';
      font-style: normal;
      font-weight: 900;
      font-size: 32px;
      line-height: 42px;
      text-align: center;
      font-feature-settings: 'liga' off;
      color: #EFF1ED;
    }.brand-logo{
      max-width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }.brand-logo img{
      cursor: pointer;
    }
  
      /* sessao Visita*/
    .visita{
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .visita-container{
      width: 100%;
      height:820px;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }.visita-img{
      max-width: 100%;
      height: 30%;
    }.visita-img img{
      width: 100%;
      height: 100%;
    }.visita-text{
      max-width: 100%;
      height: 70%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }.visita-text .text{
      word-wrap: break-all;
      height: 80%;
      margin-top: 15px;
    }.visita-text h5{
      width: 100%;
      height: 8%;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-feature-settings: 'liga' off;
      color: var(--letter-color);
    }.visita-text h1{
      width: 100%;
      height: 12%;
      font-family: 'Playfair Display';
      font-style: normal;
      font-weight: 900;
      font-size: 45px;
      line-height: 50px;
      font-feature-settings: 'liga' off;
      color: var(--letter-color);
    }.visita-text p{
      width: 100%;
      height: 80%;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 40px;
      font-feature-settings: 'liga' off;
      color: #333333;
    }.visita-button{
      width: 100%;
      height: 15%;
      display: flex;
      justify-content: center;
    }.visita-text button{
      width: 80%;
      margin: auto;
      padding: 16px 32px;
      font-weight: 500;
      font-size: 25px;
      line-height: 22px;
      color: #E8EBE4;
      outline: none;
      border: none;
      cursor: pointer;
      border-radius: 12px;
      background-color: #505A5B;
    }
  
      /* rodapé FOOTER*/
    footer{
      max-width: 100%;
      height: 300px;
      background-color: var(--letter-color);
      display: flex;
      justify-content: center;
  
    }.footer-container{
      width: 80%;
      height: 50%;
      margin: 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  
    }.footer-container h5{
      width: 100%;
      height: 33px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      font-feature-settings: 'liga' off;
      color: #E8EBE4;
    }.footer-box-1{
      width: 100%;
      height: 33%;
      display: flex;
      flex-direction: column;
      justify-content: center;

    }.footer-container a{
      text-decoration: none;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 21px;
      font-feature-settings: 'liga' off;
      color: #E8EBE4;
    }.footer-box-2{
      width: 100%;
      height: 33%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }.footer-box-3{
      width: 100%;
      height: 33%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }.footer-box-2 .footer-orari{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
    }.footer-box-3 .footer-orari{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
    }.footer-box-3 .google-api{
      text-decoration: underline;
    }.footer-credits{
      width: 100%;
      height:50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      font-feature-settings: 'liga' off;
      color: #E8EBE4;
    }
}